<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jake's Main Page</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <!-- Sidebar Navigation -->
    <div class="sidebar">
      <button onclick="loadMainPage()">Home</button>
      <button onclick="toggleSubmenu()">Inventory ▼</button>
      <div id="inventory-submenu" class="submenu">
        <button onclick="loadPage('inventory')">View Inventory</button>
        <button onclick="loadPage('edit_inventory')">Edit Inventory</button>
        <button onclick="loadPage('history')">Inventory History</button>
      </div>
    
      <button onclick="loadPage('trends')">Trends</button>
      <button onclick="loadPage('logout')">Log Out</button>
    </div>

    <!-- Content Area -->
    <div class="content">
      <div class="content-box" id="content-box">
        <h1>Welcome!</h1>
        <p>Click a button on the left to navigate.</p>
        <label for="categorySelect">Select Category:</label>
        <select id="categorySelect">
          <option value="All">All</option>
          <option value="Food">Foods</option>
          <option value="Drink">Drinks</option>
          <option value="Apparel_Cat">Apparels</option>
        </select>

        <div id="addNodeForm">
          <h3>Add new item to current selected list</h3>
          <input type="text" id="nodeName" placeholder="Enter name" required />
          <input
            type="number"
            id="nodeQuantity"
            placeholder="Quantity"
            required
          />
          <input type="number" id="nodePrice" placeholder="Price" required />
          <button id="submitNode">Add</button>
        </div>

        <h2>List</h2>

        <div id="nodeContainer"></div>
      </div>
    </div>

    <script src="/main.js"></script>
  </body>
</html>
