<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jake's Main Page</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <!-- Sidebar Navigation -->
    <div class="sidebar">
      <button onclick="loadMainPage()">Home</button>
      <button onclick="toggleSubmenu()">Inventory ▼</button>
      <div id="inventory-submenu" class="submenu">
        <button onclick="loadPage('inventory')">View Inventory</button>
        <button onclick="loadPage('edit_inventory')">Edit Inventory</button>
        <button onclick="loadPage('history')">Inventory History</button>
      </div>

      <button onclick="loadPage('trends')">Trends</button>
      <button onclick="loadPage('logout')">Log Out</button>
    </div>

    <!-- Content Area -->
    <div class="content">
      <div class="content-box" id="content-box">
        <h1>Welcome!</h1>
        <p>Click a button on the left to navigate.</p>
        <div id="mainCategoryContainer">
          <p>Loading categories...</p>
        </div>

        <div id="addCategoryForm">
          <h3>Add new menu</h3>
          <input
            type="text"
            id="parentCategory"
            placeholder="Enter Menu Name"
          />
          <!-- Add New Category -->
          <button id="addCategoryBtn">Add Menu</button>
        </div>

        <div id="addSubCategoryForm">
          <h3>Add New Sub-Category</h3>
          <input
            type="text"
            id="subCategoryName"
            placeholder="Enter Sub-Category Name"
            required
          />
          <button id="addSubCategoryBtn">Add Sub-Category</button>
        </div>

        <div id="subCategoryContainer">
          <p>Loading subcategories...</p>
        </div>

        <div id="addSubItemForm">
          <h3>Add new item to current selected list</h3>
          <input type="text" id="nodeName" placeholder="Enter name" required />
          <input
            type="number"
            id="nodeQuantity"
            placeholder="Quantity"
            required
          />
          <input type="number" id="nodePrice" placeholder="Price" required />
          <button id="addItemBtn">Add</button>
        </div>

        <h2>List</h2>

        <div id="nodeContainer"></div>
      </div>
    </div>

    <script src="/main.js"></script>
  </body>
</html>
